.header-container {
  padding: 20px;
  padding-bottom: 0;
  height: 60px;
}

.cart-container {
  margin-left: auto;
  padding: 10px;
  position: relative;
}

.cart-popup {
  margin: 5px;
  h3 {
    margin: 0;
    text-align: center;
  }
}
