.card-container {
  margin-bottom: 20px;
  max-width: 500px;
  width: auto;
  margin-right: 20px;
}

mat-card {
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-padding {
  padding: 20px;
  display: flex;
  gap: 20px;
  position: relative;
}

.details-container {
  > h3 {
    font-size: 12px;
    font-weight: normal;
  }
}

img {
  border-radius: 12px;
}

button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
