<div class="filter-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Filters:</mat-card-title>
    </mat-card-header>

    <mat-card-content appearance="outline">
      <mat-divider></mat-divider>

      <mat-form-field appearance="outline">
        <mat-label>Maunfacturers</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Body Style</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-title>Price Range:</mat-card-title>

      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
