<div class="filter-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Filters:</mat-card-title>
    </mat-card-header>

    <mat-card-content appearance="outline">
      <mat-divider></mat-divider>
      <br />

      <mat-form-field appearance="outline">
        <mat-label>Manufacturer</mat-label>
        <mat-select
          [(ngModel)]="selectedManufacturer"
          (selectionChange)="onManufacturerSelected($event.value)"
        >
          <mat-option
            *ngFor="let manufacturer of filters.manufacturer.options"
            [value]="manufacturer"
          >
            {{ manufacturer }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Body Style</mat-label>
        <mat-select
          [(ngModel)]="selectedBodyType"
          (selectionChange)="onBodyTypeSelected($event.value)"
        >
          <mat-option *ngFor="let body of filters.body.options" [value]="body">
            {{ body }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-title>Price Range:</mat-card-title>

      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <mat-select
          [(ngModel)]="selectedPriceRange.min"
          (selectionChange)="onPriceRangeSelected('min', $event.value)"
        >
          <mat-option
            *ngFor="let price of filters.priceRange.min.options"
            [value]="price"
          >
            {{ price }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <mat-select
          [(ngModel)]="selectedPriceRange.max"
          (selectionChange)="onPriceRangeSelected('max', $event.value)"
        >
          <mat-option
            *ngFor="let price of filters.priceRange.max.options"
            [value]="price"
          >
            {{ price }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
